* {
	background-color: #000;
	color: #fff;
	-webkit-touch-callout: none; /* iOS Safari */
    	  -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Firefox */
           -ms-user-select: none; /* Internet Explorer/Edge */
               user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
h1 {
	font-style: italic;
	text-align: center;
}
div.wrapper {
	line-height: .5vw;
	display: flex;
	justify-content: center;
}
div.life {
	text-align: left;	
}
span.year {
	font-size: .5vw;
	display: inline-block;
}
